# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [23]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [24]:
# enter your code here
orders = pd.read_csv("./Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [25]:
# your code here
amount_spent_per_customer = orders.groupby('CustomerID').agg('amount_spent').sum()
amount_spent_per_customer = amount_spent_per_customer.sort_values().reset_index()
amount_spent_per_customer

      CustomerID  amount_spent
0          13256          0.00
1          16738          3.75
2          14792          6.20
3          16454          6.90
4          17956         12.75
...          ...           ...
4334       14911     143825.06
4335       16446     168472.50
4336       17450     194550.79
4337       18102     259657.30
4338       14646     280206.02

[4339 rows x 2 columns]

In [26]:
#Para la segunda pregunta primero calculo los quantiles supongamos sean 95 y 80
q_95 = amount_spent_per_customer['amount_spent'].quantile(q = 0.95)
q_80 = amount_spent_per_customer['amount_spent'].quantile(q = 0.80)

In [27]:
#Para la tercera pregunta  hago un dataframe con aquellos con q mayor a 0.95 que serán VIP
VIP = pd.DataFrame(amount_spent_per_customer['CustomerID'][amount_spent_per_customer['amount_spent'] > q_95])
VIP['label'] = 'VIP'

#Hago un dataframe de aqueyos con q mayor a 0.80 pero menos a 0.95
Preferred = pd.DataFrame(amount_spent_per_customer['CustomerID'][(amount_spent_per_customer['amount_spent'] > q_80) & (amount_spent_per_customer['amount_spent'] < q_95)])
Preferred['label'] = 'Preferred'

#Concateno ambos arreglos
labels = pd.concat([VIP, Preferred])
orders = orders.merge(labels, how = 'left', on = 'CustomerID')
#orders.head(50)
#Después puedo cambiar el nombre de la columna

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

In [28]:
orders.groupby('Country').agg('label').value_counts()

Country          label
Australia        VIP             898
                 Preferred       100
Austria          Preferred       158
Belgium          Preferred      1202
                 VIP              54
Canada           Preferred       135
Channel Islands  VIP             364
                 Preferred       128
Cyprus           VIP             248
                 Preferred       203
Denmark          Preferred       181
                 VIP              36
EIRE             VIP            7077
                 Preferred       161
Finland          VIP             294
                 Preferred       125
France           VIP            3290
                 Preferred      2822
Germany          Preferred      3679
                 VIP            3127
Greece           Preferred        32
Iceland          Preferred       182
Israel           Preferred       214
Italy            Preferred       434
Japan            VIP             205
                 Preferred        67
Netherlands      VIP            2080
Norway           Preferred       521
                 VIP             420
Poland           Preferred       149
Portugal         VIP             681
                 Preferred       343
Singapore        VIP             222
Spain            Preferred      1058
                 VIP             511
Sweden           VIP             198
                 Preferred        75
Switzerland      Preferred       713
                 VIP             594
United Kingdom   Preferred    114085
                 VIP           84185
Name: label, dtype: int64

In [ ]:

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [29]:
# your code here

max_vip = orders.where(orders['label'] == 'VIP').groupby('Country').label.count()
max_vip = max_vip.sort_values()
max_vip.index[-1]

'United Kingdom'